{% extends "layout.html" %}
{% block content %}

<div class="centered">
 
    <section class="cards">

{% for recipe in joined_m_n %}



  <div class="example-2 card">
<div class="wrapper" style="background: url({{url_for('static', filename='images/' +recipe.RecipeID|string+'.jpg')}}) center / cover no-repeat;">
  
      <div class="header">
        <div class="date">
          <!--<span class="day">3</span>
          <span class="month">Aug</span>
          <span class="year">2016</span>-->
          <span>{{recipe.DatePosted}}</span>
        </div>
        <ul class="menu-content">
          <li><span><a href="#" class="fas fa-clipboard-list"></span></a></li>
        </ul>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">{{recipe.FirstName}} {{recipe.LastName}}</span>
          <span><h1 class="title"><a href="{{ url_for('recipe', reci=recipe.RecipeID) }}">{{recipe.RecipeName}}</a></h1></span>

        </div>
      </div>
    
    </div>
  </div>

       

{% endfor %}
</section>
</div>
{% endblock content %}